*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
}
.navlogo{
    height: 50px;
    width: 113px;
      
}
.logo{
    background-image:url(amzonlogo.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    position: relative;
    top: 10px;
    padding: 0px;
}
.logo:hover{
    border: 2px solid white;
}
.loc{
    color: white;
    margin-left: 20px;
    margin-top: 6px;
    color: #ccc;
    font-size: 1rem;
    padding: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
}
#locic{
    display: flex;
    color: white;
}
#india{
    position: relative;
    left: 7px;
    font-weight: bold;
    font-size: 1.2rem;
}
.loc:hover{
    border: 2px solid white;
}


/* search bar */


#searchal{
    color: white;
    
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    height: 40px;
    margin-top: 10px;
}
.searchicon{
    color: white;
    height: 40px;
    width: 45px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    font-size: 1.4rem;
    color: #0f1111;

}
#searchbox{
    height: 36px;
    width: 590px;
    font-size: 1rem;
}
#searchsel{
    height: 42px;
    border-top-left-radius: 5px;
    background-color: rgb(194, 185, 185);
    width: 40px;
}
.nav-signin{
    color: white;
    margin-left: 15px;
    padding-top: 10px;
    height: 42px;
    padding-bottom: 0px;
    padding: 5px;
    
}
.nav-first{
    font-size: 12px;
    padding-top: 10px;
    margin-left: 10px;

}
.nav-second{
    font-size: 15px;
    font-weight: bold;
}
.nav-returns{
    color: white;
    padding-top: 10px;
    margin-left: 20px;
    height: 42px;
    padding: 5px;
    width: 70px;
}
.nav-signin:hover{
    border: 1px solid white;
}
.nav-returns:hover{
    border: 1px solid white;
}
.nav-cart{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 21px;
    padding-right: 5px;
}
#cart{
    font-size: 20px;
}

.lang{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
    padding: 5px;
    height: 35px;

}
.lang:hover{
    border: 1px solid white;
}
.searchbar:hover{
    border: 2px solid orange;
    padding: 0px;
}
.nav-cart:hover{
    border: 1px solid white;
}
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
}
.panel-all{
    margin-left:10PX ;
    padding: 8px;
}
.panel-all:hover{
    border: 2px solid white;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-deals{
    position: absolute;
    right: 25px;
    text-transform: capitalize;
    padding: 7px;
}
.panel-ops p:hover{
    border: 2px solid white;
}
.panel-ops p{
    padding: 7px;
}
.panel-deals:hover{
    border: 2px solid white;
}
#en{
    margin-left: 5px;
}



/* hero section */
.hero-section{
    background-image: url("HERO.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero-msg{
    background-color: white;
    position: relative;
    top: 250px;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.hero-box{
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    top: 270px;
}
.hero-box div{
    height: 420px;
    width: 306px;
    background-color: white;
    
    margin: 10px;
    display: flex;
    
}
.hrbox h1{
    font-size: 21px;
    position: absolute;
    top: 20px;
    text-transform: capitalize;

}
.box1{
    background-image: url("Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:90% ;
}

.hrbox a{
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    left: 15px;
    
}
.box2{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position:80% ;
    
    
    
}
.box2 a{
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    left: 325px;
}
.box3{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    


}

.box4{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.box3 h1{
    font-size: 21px;
    position: absolute;
    top: 20px;
    text-transform: capitalize;
}
.box3 a{
    position: absolute;
    bottom: 32px;
    text-decoration: none;

}
.box2 h1{
    font-size: 21px;
    position: absolute;
    top: 20px;
    text-transform: capitalize;
}
.box4 h1{
    font-size: 21px;
    position: absolute;
    top: 20px;
    text-transform: capitalize;
}
.box4 a{
    position: absolute;
    bottom: 32px;
    text-decoration: none;
}
.box2 a{
    position: absolute;
    bottom: 32px;
    text-decoration: none;
}
.hero-box2{
    
    margin-top: 200px;
    height: 400px;
    display: flex;
    width: 90%;
    justify-content: space-between;
   

}
.box5,.box6, .box7 , .box8{
    height: 420px;
    width: 306px;
    background-color: white;
    
    margin: 10px;

    
}
.hero-box2-outer{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(234, 238, 248);
}
.hrb{
    background-size: contain;
    background-repeat: no-repeat;
    background-position:90% ;

}
.hrb h1{
    font-size: 21px;
    padding-left: 5px;
    padding-top: 10px;
    text-transform: capitalize;
}
.hrb a{
    position:absolute;
    top: 1295px;
    text-decoration: none;
}

footer{
    margin-top: 45px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
a{
    text-decoration: none;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 a{
    color: #dddddd;
    display: block;
    font-size: 0.85rem;
    margin-top: 25px;
}
ul{
    margin-top: 30px;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image:url(amzonlogo.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    font-size: 0.7rem;
}
.foot-panel4 a{
    color: white;
}
